@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova/proximanova-light.eot");
  src: url("../fonts/proximanova/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-light.woff") format("woff"), url("../fonts/proximanova/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova/proximanova-light.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novaregular';
  src: url("../fonts/proximanova/proximanova-regular.eot");
  src: url("../fonts/proximanova/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-regular.woff") format("woff"), url("../fonts/proximanova/proximanova-regular.ttf") format("truetype"), url("../fonts/proximanova/proximanova-regular.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novasemibold';
  src: url("../fonts/proximanova/proximanova-semibold.eot");
  src: url("../fonts/proximanova/proximanova-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-semibold.woff") format("woff"), url("../fonts/proximanova/proximanova-semibold.ttf") format("truetype"), url("../fonts/proximanova/proximanova-semibold.svg#proxima_novasemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novabold';
  src: url("../fonts/proximanova/proximanova-bold.eot");
  src: url("../fonts/proximanova/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-bold.woff") format("woff"), url("../fonts/proximanova/proximanova-bold.ttf") format("truetype"), url("../fonts/proximanova/proximanova-bold.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "proxima_novaregular", sans-serif;
  font-size: 15px;
  line-height: 1.5; }

h1, h2, h3, h4, h5 {
  font-family: "proxima_novasemibold", sans-serif;
  margin: 0; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.125em; }

h5 {
  font-size: 0.875em; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

.input-ctn {
  margin-bottom: 20px; }
  .input-ctn label {
    font-size: 0.875em;
    margin-bottom: 8px;
    color: #7c7c7c; }

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], select, textarea {
  /* Rectangle 7: */
  border: 1px solid #C4C4D0;
  border-radius: 3px;
  box-shadow: none;
  display: block;
  width: 100%;
  color: #444;
  padding: 12px 15px;
  height: initial;
  font-size: 0.875em;
  -webkit-transition: border-color ease-in-out .30s, -webkit-box-shadow ease-in-out .30s;
  -o-transition: border-color ease-in-out .30s, box-shadow ease-in-out .30s;
  transition: border-color ease-in-out .30s, box-shadow ease-in-out .30s; }
  [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, select:focus, textarea:focus {
    border: 1px solid #2B303A;
    outline: none;
    box-shadow: none; }
  [type='text'].error, [type='password'].error, [type='date'].error, [type='datetime'].error, [type='datetime-local'].error, [type='month'].error, [type='week'].error, [type='email'].error, [type='number'].error, [type='search'].error, [type='tel'].error, [type='time'].error, [type='url'].error, [type='color'].error, select.error, textarea.error {
    border: 1px solid #FF0000; }

input:disabled {
  background-color: #fbfbfb;
  color: #222; }

.form-error input {
  border: 1px solid #9D0F3E; }
.form-error label {
  color: #9D0F3E; }
.form-error span.error {
  display: block;
  color: #9D0F3E;
  font-size: 0.875em;
  margin-top: 10px; }

select {
  height: 45px;
  background: #FFFFFF; }

.datepicker--day-name {
  color: #75557E !important; }

.info-label {
  border: 1px solid #ccc;
  padding: 8px 15px;
  font-size: 0.875em;
  border-radius: 3px;
  color: #444;
  margin-bottom: 30px; }
  .info-label.error {
    color: #9D0F3E;
    border: 1px solid #C87291; }
  .info-label.success {
    color: #169A62;
    border: 1px solid #169A62; }

.selectize-control.single .selectize-input {
  box-shadow: none;
  background: none;
  background-image: none;
  background-repeat: none; }

.selectize-input {
  padding: 12px 15px;
  border: 1px solid #C4C4D0;
  border-color: #C4C4D0 !important; }

.selectize-dropdown .option, .selectize-dropdown .optgroup-header {
  padding: 10px 15px; }

.selectize-dropdown {
  box-shadow: none;
  border: 1px solid #C4C4D0;
  border-top: none; }

a {
  color: #9D0F3E;
  text-decoration: none; }

a:hover {
  color: #9D0F3E;
  text-decoration: underline; }

.btn-alat {
  margin-top: 40px;
  background: #9D0F3E;
  color: #FFFFFF;
  display: block;
  border: none;
  cursor: pointer;
  font-size: 1em;
  line-height: 50px;
  height: 50px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25); }

.btn-alat:hover {
  color: #FFFFFF;
  text-decoration: none; }

html, body {
  height: 100%; }

body {
  font-family: "proxima_novaregular", sans-serif;
  color: #2B303A;
  background: #fff; }

.onboarding {
  width: 100%;
  display: table;
  position: absolute;
  height: 100vh;
  background-image: url(../img/ellipse-1.svg), url(../img/ellipse-2.svg), url(../img/ellipse-3.svg), url(../img/ellipse-4.svg);
  background-position: top left, bottom left, bottom right, top right;
  background-repeat: no-repeat; }
  .onboarding .middle {
    display: table-cell;
    vertical-align: middle; }
  .onboarding .inner {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 0 20px; }
    .onboarding .inner h3 {
      margin-top: 40px; }
      .onboarding .inner h3 span {
        display: block;
        background: #9D0F3E;
        width: 40px;
        height: 3px;
        margin-top: 10px;
        margin-bottom: 30px; }
  .onboarding p {
    color: #444444;
    margin-bottom: 0; }
  .onboarding .onboard-form {
    padding-top: 30px;
    margin-bottom: 50px; }
  .onboarding .bullet {
    font-size: 0.625em;
    margin: 16px 2px; }
  .onboarding .bullet.active {
    color: #AE335F; }
  .onboarding .bullet.inactive {
    color: rgba(0, 0, 0, 0.35); }
  .onboarding .details-container {
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 2px 1px 3px 3px rgba(0, 0, 0, 0.09);
    padding: 30px; }
    .onboarding .details-container .label {
      color: rgba(0, 0, 0, 0.6);
      font-size: 0.875em; }

.pw-hint {
  font-size: 0.875em;
  margin-top: 10px; }

@media screen and (max-width: 640px) {
  .onboarding {
    background-image: none; } }

/*# sourceMappingURL=app.css.map */
